@model IEnumerable<Lib.BrandMst>

@{
    ViewData["Title"] = "Index";
    Layout = "_BackendLayout";
    int i = 1;
}

<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">

    @await Html.PartialAsync("~/Views/Backend/_Aside.cshtml")

    <div class="body-wrapper">

        @await Html.PartialAsync("~/Views/Backend/_Header.cshtml")

        <!-- Change this content if you need to modify -->
        <div class="col-lg-12 d-flex align-items-stretch">
            <div class="card w-100">
                <div class="card-body p-4">
                    <h5 class="card-title fw-semibold mb-4">New</h5>
                    <a class="btn btn-info" asp-action="Create" asp-controller="Brand">Tạo mới Brand</a>
                    <div class="table-responsive">
                        @if (!string.IsNullOrEmpty(TempData["msg"] as string))
                        {
                            <div class="alert alert-success">
                                @TempData["msg"]
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(TempData["errmsg"] as string))
                        {
                            <div class="alert alert-danger">
                                @TempData["errmsg"]
                            </div>
                        }
                        <table class="table text-nowrap mb-0 align-middle">
                            <thead class="text-dark fs-4">
                                <tr class="text-center">
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">#</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Brand ID</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Brand Type</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Điều khiển</h6>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="text-center">
                                        <td class="border-bottom-0"><h6 class="fw-semibold mb-0">@i</h6></td>
                                        <td class="border-bottom-0">
                                            <p class="mb-0 fw-normal">@Html.DisplayFor(modelItem => item.Brand_ID)</p>
                                        </td>
                                        <td class="border-bottom-0">
                                            <p class="mb-0 fw-normal">@Html.DisplayFor(modelItem => item.Brand_Type)</p>
                                        </td>
                                        <td class="border-bottom-0">
                                            <a class="btn btn-info" asp-route-id="@item.Brand_ID" asp-action="Edit" asp-controller="Brand">
                                                <i class="fa fa-gear"></i>
                                            </a>
                                            <form asp-action="Delete" asp-controller="Brand" method="post" enctype="multipart/form-data">
                                                <input type="hidden" name="id" value="@item.Brand_ID">
                                                <button type="submit" class="btn btn-danger">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                    i++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- End change -->

    </div>
</div>
